Semester report on the students of the {{ my_vars['school']['name']}}:

{% for student in my_vars['students'] %}
{{ student['first_name'] }} has a grade of ...
{% endfor %}

Report generated:
 - Date: {{ ansible_date_time['date'] }}
 - Time: {{ ansible_date_time['time'] }}